<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="Test" parallel="tests" thread-count="2">
    <parameter name="browser" value="CHROME"/>

    <test name="Test-chrome">
        <classes>
            <class name="FortradeTests.FortradeRealRegTest"/>
        </classes>
    </test>

    <test name="Test-edge">
        <parameter name="browser" value="EDGE"/>
        <classes>
            <class name="FortradeTests.FortradeRealRegTest"/>
        </classes>
    </test>

</suite>